<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="SEARCH_ENGINES">
			<section name="GOOGLE" type="Searchfight.Utility.ConfigurationSettings.PairAppearanceSection, Searchfight.Utility"/>
			<section name="BINGMSN" type="Searchfight.Utility.ConfigurationSettings.PairAppearanceSection, Searchfight.Utility"/>
			<section name="YAHOO" type="Searchfight.Utility.ConfigurationSettings.PairAppearanceSection, Searchfight.Utility"/>
		</sectionGroup>
	</configSections>

	<SEARCH_ENGINES>
		<GOOGLE>
			<settings>
				<element key="NAME" value="Google" />
				<element key="URL" value="https://www.google.com/search?q={0}" />
				<element key="TAG_START_SPLIT" value="*div id=@result-stats@#" /> <!--<div id="result-stats">-->
				<element key="TAG_END_SPLIT" value="*nobr#" /> <!--<nobr>-->
				<element key="POS_ARRAY_START_SPLIT" value="1" />
				<element key="POS_ARRAY_END_SPLIT" value="0" />
			</settings>
		</GOOGLE>
		<BINGMSN>
			<settings>
				<element key="NAME" value="MSN Bing" />
				<element key="URL" value="https://www.bing.com/search?q={0}" />
				<element key="TAG_START_SPLIT" value="*span class=@sb_count@#" /> <!--<span class="sb_count">-->
				<element key="TAG_END_SPLIT" value="*/span#" /> <!--</span>-->
				<element key="POS_ARRAY_START_SPLIT" value="1" />
				<element key="POS_ARRAY_END_SPLIT" value="0" />
			</settings>
		</BINGMSN>
		<YAHOO>
			<settings>
				<element key="NAME" value="Yahoo" />
				<element key="URL" value="https://espanol.search.yahoo.com/search?p={0}" />
				<element key="TAG_START_SPLIT" value="*/ins#*/a#*span#" /> <!--</ins></a><span>-->
				<element key="TAG_END_SPLIT" value="*/span#" /> <!--</span>-->
				<element key="POS_ARRAY_START_SPLIT" value="1" />
				<element key="POS_ARRAY_END_SPLIT" value="0" />
			</settings>
		</YAHOO>
	</SEARCH_ENGINES>
	
</configuration>